header
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/"): em Heroku Tools

            ul.nav.navbar-nav.navbar-right
                li: a(href="/cronjobs") Cronjobs