extends /layouts/default

block content
    .container
        .row
            .col-xs-12
                h1 Cronjobs
                hr

            .col-xs-12
                include ./partials/table