doctype html
html(ng-app)
    head
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel="stylesheet", href="/assets/styles/app.css")
    body
        block header
            include /partials/header
        block content
            
        script(type="text/javascript", src="/assets/scripts/lib.js")
        script(type="text/javascript", src="/assets/scripts/app.js")